.designers__list {
    padding: 0;
    list-style-type: none; 
    cursor: pointer;
    position: relative;
}

.designers__item {
  margin-bottom: 5px;

  &:hover {
  font-style: italic;
  }
  &:before {
    content: "○";
    padding-right: 10px;
  }
  &:hover::before {
    content: "●";
  }
  &_active {  
    transition: box-shadow 0.5s linear;
    box-shadow: 0 1px black;
    font-style: italic;
  }
  &_active:before {
    content: "●";
  }
}
