.designers__item {
    margin-bottom: 5px;
}
.designers__list {
    padding: 0;
    list-style-type: none; 
    cursor: pointer;
}
.designers__item:hover {
    font-style: italic;
}
.designers__item::before {
    content: "○";
    padding-right: 10px;
}
.designers__item:hover::before {
    content: "●";
}
.designers__item_active {
    box-shadow: 0 1px black;
    font-style: italic;
}
.designers__item_active::before {
    content: "●";
}
