.designers__item {
    margin-bottom: 5px;
}
.designers__list {
    padding: 0;
    list-style-type: none; 
    cursor: pointer;
}
.designers__item:hover {
    box-shadow: 0 1px black;
}
.designers__item::before {
    content: "○";
    padding-right: 10px;
}
.designers__item:hover::before {
    content: "●";
}
.line {
    width: 400px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.line1 {
    width: 5px;
    height: 2px;
    border-bottom: 1px solid black;
}
.line2 { 
    width: 5px;
    height: 2px;
    border-bottom: 1px solid black;
}
